<ion-view view-title="Browse">
    <ion-content ng-controller="CheckinCtrl as vm">
        <div>
            <div class="list" >

                <div class="item item-button-right">
                    Joe Checked in at the Hard Rock Cafe
                    <button class="button button-positive">
                        <i class="ion-navigate"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    Stephen Checked in at the Hard Rock Cafe
                    <button class="button button-positive">
                        <i class="ion-navigate"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    Derrik Checked in at the Hard Rock Cafe
                    <button class="button button-positive">
                        <i class="ion-navigate"></i>
                    </button>
                </div>
                <div class="item item-button-right">
                    John Checked in at the Hard Rock Cafe
                    <button class="button button-positive">
                        <i class="ion-navigate"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-25">
            </div>
            <div class="col col-50">
                <div id="map" style="width: 100%; height: 512px;" data-tap-disabled="true">
                </div>
            </div>
            <div class="col col-25">
            </div>



        </div>
    </ion-content>

   
</ion-view>
